    <%- include("./header.ejs") %>
    <form action="/save_product" method="post" enctype="multipart/form-data">
    <div class="container text-dark">
        <div class="row">
        <div class="col-md-12 text-center">
            <h1>Add Product</h1>
        </div>
        <div class="col-md-6">
            <label for="pname">Product Name</label>
            <input
            id="pname"
            name="pname"
            type="text"
            class="form-control bg-white"
            />
        </div>
        <div class="col-md-6">
            <label for="pprice">Product Price</label>
            <input
            id="pprice"
            name="pprice"
            type="number"
            class="form-control bg-white"
            />
        </div>
        <div class="col-md-6">
            <label for="pimage">Product Image</label>
            <input
            name="pimage"
            type="file"
            class="form-control bg-white"
            />
        </div>
        <div class="col-md-6">
            <label for="pcat">Product Category</label>
            <select name="pcat" class="form-control bg-white" id="pcat">
            <option selected disabled>----select category----</option>
            <option value="Cat1">Cat1</option>
            </select>
        </div>
        <div class="col-12 text-center my-2">
            <button type="submit" class="btn btn-success">SUbmit</button>
        </div>
        </div>
    </div>
    </form>

    <%- include("./footer.ejs") %>
